.container {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
}
.form-control {
    max-width: 40%;
    margin-right: 5px;
    margin-top: 10px;
   border-radius: 2rem;
}
.btn {
    height: 2em;
    margin-top: 10px;
    padding-bottom: 2em;
}
.searchPara {
    margin-top: 10px;
}